extends layout

block content
  .pure-g-r.main-content.index-page

    include partials/sidebar

    section.pure-u-3-4.home.active
      include content/home

    section.pure-u-3-4.assignments
      include content/assignments

    section.pure-u-3-4.lectures
      include content/lectures

    section.pure-u-3-4.notes.github.language-bash
      include content/notes/github

    section.pure-u-3-4.notes.lecture1.language-javascript
      include content/notes/lecture1

    section.pure-u-3-4.notes.js-basics.language-javascript
      include content/notes/js-basics

    section.pure-u-3-4.notes.js-functions.language-javascript
      include content/notes/js-functions

    section.pure-u-3-4.notes.style.language-javascript
      include content/notes/style

    section.pure-u-3-4.notes.objects.language-javascript
      include content/notes/objects

    section.pure-u-3-4.notes.browsers.language-javascript.language-html
      include content/notes/browsers

    section.pure-u-3-4.notes.hw2.language-javascript
      include content/hw/hw2

    section.pure-u-3-4.notes.dom-manipulation.language-javascript
      include content/notes/dom-manipulation

    section.pure-u-3-4.notes.browser-events.language-javascript
      include content/notes/browser-events

    section.pure-u-3-4.notes.hw3.language-javascript
      include content/hw/hw3

    section.pure-u-3-4.notes.functional.language-javascript
      include content/notes/functional

    section.pure-u-3-4.notes.mvc.language-javascript
      include content/notes/mvc

    section.pure-u-3-4.notes.hw4.language-javascript
      include content/hw/hw4

    section.pure-u-3-4.notes.backbone
      include content/notes/backbone

    section.pure-u-3-4.notes.server-js.language-javascript
      include content/notes/server-js

    section.pure-u-3-4.notes.hw5.language-javascript
      include content/hw/hw5

    section.pure-u-3-4.notes.server-js-2.language-javascript
      include content/notes/server-js-2

    section.pure-u-3-4.notes.hw6.language-javascript
      include content/hw/hw6

    section.pure-u-3-4.notes.proposal.language-javascript
      include content/hw/proposal

    section.pure-u-3-4.notes.lecture8.language-javascript
      include content/notes/lecture8

    section.pure-u-3-4.notes.lecture9.language-javascript
      include content/notes/lecture9


    section.pure-u-3-4.notes.testing.language-javascript
      include content/notes/testing

    section.pure-u-3-4.notes.coffeescript.language-coffeescript
      include content/notes/coffeescript

    section.pure-u-3-4.notes.d3.language-javascript
      include content/notes/d3
