nav.pure-u-1-8.pure-menu.pure-menu-open
  .pure-menu-heading
    img#logo(src='build/images/logo.png')
    h2 CIS 197
  ul.sections
    li.home.active
      a(href='#home') Home
    li.assignments
      a(href='#assignments') Assignments
    li.lectures
      a(href='#lectures') Lectures
    li.piazza
      a(href='https://piazza.com/upenn/fall2014/cis197', target='_blank') Piazza
  small &copy; 2014
