:markdown
  ## Assignments

  Assignments are due __at 9am__ unless otherwise indicated.
  Code submissions are to be made using the Github submission system.
  Refer to the [style guide](#style) for coding JavaScript.

  hw0: [Set up Github submission](#github).

  hw1, due __Wed, Feb. 5__: [Finger exercises](https://github.com/cis197s14/hw/blob/master/hw1/exercises.js).

  hw2, due __Fri, Feb 14__: [XML object modeling](#hw2).

  hw3, due __Sat, Feb. 22__: [Pokémon map building](#hw3).

  hw4, due __Sun, March 2__: [Backbone.js starter](#hw4).

  hw5, due __Sun, March 23__: [Intermediate Backbone.js app](#hw5).

  hw6, due __Fri, April 11__: [Full stack JS app](#hw6).

  hw7, due __Wed, April 16__: [Final project proposal](#proposal).


  ## Final Project

  The final project will be an open-ended JavaScript application created with
  client-side framework of the student's choice. It should demonstrate 10-15
  hours of work. The due date is __May 9__.

  See the [__proposal spec__](#proposal) for more information.

