:markdown
  ## JavaScript (Fall 2014)
  ### Intro to Front End Web Development

  Course meets __Tuesday 3:00pm – 4:30pm__ in __Towne 319__.

  Instructor: __Geoffrey Vedernikoff__ ([veg@seas.upenn.edu](mailto:veg@seas.upenn.edu))

  TAs:

  * __Ian Sibner__ ([isibner@seas.upenn.edu](mailto:isibner@seas.upenn.edu))
  * __Clara Wu__ ([scwu@seas.upenn.edu](mailto:scwu@seas.upenn.edu))

  Office hours: See [Piazza staff page](https://piazza.com/upenn/fall2014/cis197/staff)

  ### Course Description

  This course provides an introduction to modern web development frameworks,
  techniques, and practices used to deliver robust client side applications on
  the web. The emphasis will be on developing JavaScript programs that run in
  the browser, _not_ server-side applications in traditional languages like Java,
  Python, or Ruby. See the lecture schedule for more info.

  This course is most useful for students who have some programming and web
  development experience and want to develop moderate JavaScript skills to be
  able to build complex, interactive applications in the browser.

  ### Prerequisites

  * CIS 120 or equivalent (or permission of instructor).
  * Basic knowledge of HTML/CSS (if you don't meet this requirement, you are
    expected to pick up the basics on your own with online resources like
    [Codecademy](http://codecademy.com) and
    [Mozilla Developer Network](https://developer.mozilla.org/en-US/)).

  ### Policies

  Extensions on homework assignments will generally be granted if you ask for
  them in advance. Assignments come with the opportunity for revision up to a
  week after grading. ___See the
  [course syllabus](https://docs.google.com/document/d/1vd7qfE4TGTG_FW8LIACFIGMcBb1JQwQ0YofMwMyCyjc)
  for more detailed policies and grading info___.

