:markdown
  ## Lectures

  __Code samples__ from lectures are available in
  [this Github repository](https://github.com/cis197s14/lectures).

table
  thead
    tr
      td Lecture
      td Date
      td Content
      td Reading, Resources

  tbody
    tr
      td –
      td 1/22
      td.
        <a href="#lecture1">
          JS basics & syntax <br/>
          How to run JS client-side and server-side
        </a>
      td.
        Eloquent JS, Chapter 2 <br/>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript">
          [MDN] A re-introduction to JavaScript
        </a>

    tr
      td 1
      td 1/29
      td.
        <a href="#js-functions">JS functions</a>
      td Eloquent JS, Chapters 3

    tr
      td 2
      td 2/5
      td.
        <a href="#objects">JS objects & inheritance</a> <br/>
        <a href="#browsers">JS in browsers</a>
      td.
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript">
          [MDN] Introduction to Object-Oriented JavaScript
        </a> <br/>
        <a href="https://developer.mozilla.org/en-US/docs/DOM">
          [MDN] Document Object Model
        </a> <br/>
        Eloquent JS, Chapters 12

    tr
      td 3
      td 2/12
      td.
        <a href="#dom-manipulation">DOM Manipulation</a> <br/>
        <a href="#browser-events">Browser Events</a>
      td.
        Eloquent JS, Chapter 13 <br/>
        <a href="https://developers.google.com/chrome-developer-tools/">
          Chrome DevTools docs
        </a>

    tr
      td 4
      td 2/19
      td.
        <a href="#functional">Functional Programming in JS</a> <br/>
        <a href="#mvc">Introduction to client-side MVC</a>
      td.
        Eloquent JS, Chapter 6 <br/>
        <a href="http://dailyjs.com/2012/09/14/functional-programming/">
          [DailyJS] Functional Programming in JS
        </a> <br/>
        DBA: Intro, Fundamentals

    tr
      td 5
      td 2/26
      td.
        <a href="#backbone">
          A deeper dive into Backbone.js <br/>
          Model persistence, Routing
        </a>
      td DBA: RESTful Persistence, Events, Routers

    tr
      td 6
      td 3/5
      td.
        <a href="#server-js">
          Module systems and npm <br/>
          Writing a web server in Node.js
        </a>
      td Node Beginner Book

    tr
      td –
      td 3/12
      td <em>No class: Spring Break</em>
      td –

    tr
      td 7
      td 3/19
      td.
        <a href="#server-js-2">
          Express framework for Node <br/>
          Routing & middleware
        </a>
      td DBA: Exercise 2

    tr
      td 8
      td 3/26
      td.
        <a href="#lecture8">
          Scaling client-side applications
        </a>
      td.
        Eloquent JS Chapter 9 <br/>
        DBA: Backbone Extensions, Common Problems & Solutions

    tr
      td 9
      td 4/2
      td.
        <a href="#lecture9">
          EventEmitters, Streams, Promises
        </a>
      td.
        <a href="http://mattgreer.org/articles/promises-in-wicked-detail/">
          Promises in Wicked Detail
        </a>

    tr
      td 10
      td 4/9
      td.
        Reactive frameworks & libraries
      td.
        <a href="http://code.angularjs.org/1.2.15/docs/tutorial">
          AngularJS Tutorial
        </a>

    tr
      td 11
      td 4/16
      td.
        <a href="#testing">
          Testing <br/>
          Build systems &amp; tools
        </a>
      td.
        <a href="http://superherojs.com/#testing">
          SuperheroJS
        </a> (Testing, Tools, and Performance sections)

    tr
      td 12
      td 4/23
      td.
        <a href="#coffeescript">
          Compile-to-JS languages
        </a>
      td.
        <a href="http://arcturo.github.io/library/coffeescript/">
          The Little Book on CoffeeScript
        </a>

    tr
      td 13
      td 4/30
      td.
        <a href="#d3">
          Data visualization with D3.js
        </a>
      td.
        <a href="http://alignedleft.com/work/d3-book">
          Interactive Data Visualization for the Web
        </a>

:markdown
  ## Reading

  * [_JavaScript: The Good Parts_](http://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742) – Douglas Crockford
  * [_Eloquent JavaScript_](http://eloquentjavascript.net/) – Marijn Haverbeke
  * [_Developing Backbone.js Applications_](http://addyosmani.github.io/backbone-fundamentals/) (DBA) – Addy Osmani
  * [_Mozilla Developer Network JS Articles_](https://developer.mozilla.org/en-US/docs/Web/JavaScript)

