:markdown
  ## Lectures

  __Code samples__ from lectures are available in
  [this Github repository](https://github.com/cis197s14/lectures).

table
  thead
    tr
      td Lecture
      td Date
      td Content
      td Lecture Code
      td Reading, Resources

  tbody
    tr
      td 0
      td 9/2
      td.
        <a href="#lecture1">
          JS basics & syntax <br/>
          How to run JS client-side and server-side
        </a>
      td
      td.
        Eloquent JS, Chapter 2 <br/>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript">
          [MDN] A re-introduction to JavaScript
        </a>

    tr
      td 1
      td 9/9
      td.
        <a href="#js-functions">JS functions</a>
      td.
        <a href='https://github.com/cis197f14/lectures/tree/master/lec1'>Lec 1</a>
      td Eloquent JS, Chapters 3

    tr
      td 2
      td 9/16
      td.
        <a href="#objects">JS objects & inheritance</a>
      td.
        <a href='https://github.com/cis197f14/lectures/tree/master/lec2'>Lec 2</a>
      td.
        <a href="https://developer.mozilla.org/en-US/docs/DOM">
          [MDN] Document Object Model
        </a> <br/>
        Eloquent JS, Chapters 12

    tr
      td 3
      td 9/23
      td.
        <a href="#browsers">JS in browsers</a> <br/>
        <a href="#dom-manipulation">DOM Manipulation</a>
      td.
        <a href='https://github.com/cis197f14/lectures/tree/master/lec3'>Lec 3</a>
      td.
        <a href="https://developers.google.com/chrome-developer-tools/">
          Chrome DevTools docs
        </a>

    tr
      td 4
      td 9/30
      td.
        <a href="#browser-events">Browser Events</a>
      td.
        <a href='https://github.com/cis197f14/lectures/tree/master/lec4'>Lec 4</a>
      td.
        Eloquent JS, Chapter 13 <br/>

    tr
      td 5
      td 10/7
      td.
        <a href="#functional">Functional Programming in JS</a> <br/>
      td.
        <a href='https://github.com/cis197f14/lectures/tree/master/lec5'>Lec 5</a>
      td.
        Eloquent JS, Chapter 6 <br/>
        <a href="http://dailyjs.com/2012/09/14/functional-programming/">
          [DailyJS] Functional Programming in JS
        </a> <br/>
        DBA: Intro, Fundamentals

    tr
      td 6
      td 10/14
      td.
        <a href="#mvc">Introduction to client-side MVC</a>
      td.
        <a href='https://github.com/cis197f14/lectures/tree/master/lec6'>Lec 6</a>
      td.
        <a href="http://backbonejs.org/">
          Backbone docs
        </a>

    tr
      td 7
      td 10/21
      td.
        A Deeper Dive into Backbone
      td.
        <a href='https://github.com/cis197f14/lectures/tree/master/lec7'>Lec 7</a>
      td.
        <a href="http://backbonejs.org/examples/todos/">
          Todo app
        </a> <br/>
        <a href='http://backbonejs.org/docs/todos.html'>
          Todo app source
        </a>

    tr
      td 8
      td 10/28
      td.
        <a href="#lecture9">
          Promises
        </a>
      td.
        <a href='https://github.com/cis197f14/lectures/tree/master/lec8'>Lec 8</a>
      td.
        <a href="http://mattgreer.org/articles/promises-in-wicked-detail/">
          Promises in Wicked Detail
        </a>

    tr
      td 9
      td 11/4
      td.
        <a href=''>
          EventEmitters
        </a> <br/>
        <a href=''>
          Backbone vs. jQuery
        </a>
      td.
        <a href=''>Lec 9</a>
      td.
        <a href=''>EventEmitters</a>

    tr
      td 10
      td 11/11
      td.
        <a href=''>
          Testing
        </a> <br/>
        <a href=''>
          CoffeeScript
        </a>
      td.
        <a href=''>Lec 10</a>
      td.
        <a href=''>
          CoffeeScript
        </a>

    //- tr
    //-   td 6
    //-   td 3/5
    //-   td.
    //-     <a href="#server-js">
    //-       Module systems and npm <br/>
    //-       Writing a web server in Node.js
    //-     </a>
    //-   td Node Beginner Book

    //- tr
    //-   td –
    //-   td 3/12
    //-   td <em>No class: Spring Break</em>
    //-   td –

    //- tr
    //-   td 7
    //-   td 3/19
    //-   td.
    //-     <a href="#server-js-2">
    //-       Express framework for Node <br/>
    //-       Routing & middleware
    //-     </a>
    //-   td DBA: Exercise 2

    //- tr
    //-   td 8
    //-   td 3/26
    //-   td.
    //-     <a href="#lecture8">
    //-       Scaling client-side applications
    //-     </a>
    //-   td.
    //-     Eloquent JS Chapter 9 <br/>
    //-     DBA: Backbone Extensions, Common Problems & Solutions

    //- tr
    //-   td 9
    //-   td 4/2
    //-   td.
    //-     <a href="#lecture9">
    //-       EventEmitters, Streams, Promises
    //-     </a>
    //-   td.
    //-     <a href="http://mattgreer.org/articles/promises-in-wicked-detail/">
    //-       Promises in Wicked Detail
    //-     </a>

    //- tr
    //-   td 10
    //-   td 4/9
    //-   td.
    //-     Reactive frameworks & libraries
    //-   td.
    //-     <a href="http://code.angularjs.org/1.2.15/docs/tutorial">
    //-       AngularJS Tutorial
    //-     </a>

    //- tr
    //-   td 11
    //-   td 4/16
    //-   td.
    //-     <a href="#testing">
    //-       Testing <br/>
    //-       Build systems &amp; tools
    //-     </a>
    //-   td.
    //-     <a href="http://superherojs.com/#testing">
    //-       SuperheroJS
    //-     </a> (Testing, Tools, and Performance sections)

    //- tr
    //-   td 12
    //-   td 4/23
    //-   td.
    //-     <a href="#coffeescript">
    //-       Compile-to-JS languages
    //-     </a>
    //-   td.
    //-     <a href="http://arcturo.github.io/library/coffeescript/">
    //-       The Little Book on CoffeeScript
    //-     </a>

    //- tr
    //-   td 13
    //-   td 4/30
    //-   td.
    //-     <a href="#d3">
    //-       Data visualization with D3.js
    //-     </a>
    //-   td.
    //-     <a href="http://alignedleft.com/work/d3-book">
    //-       Interactive Data Visualization for the Web
    //-     </a>

:markdown
  ## Reading

  * [_JavaScript: The Good Parts_](http://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742) – Douglas Crockford
  * [_Eloquent JavaScript_](http://eloquentjavascript.net/) – Marijn Haverbeke
  * [_Developing Backbone.js Applications_](http://addyosmani.github.io/backbone-fundamentals/) (DBA) – Addy Osmani
  * [_Mozilla Developer Network JS Articles_](https://developer.mozilla.org/en-US/docs/Web/JavaScript)

