:markdown
  Backbone.js Applications
  ========================

  Most of what was covered in lecture can be learned from the
  [Backbone.js docs](http://backbonejs.org/).

  A few useful diagrams are available in the
  [lecture slides](files/lecture5.pdf).

  Be sure to browse the associated
  [code examples](https://github.com/cis197s14/lectures/tree/master/lecture-5).

