.centered {
  display: block;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat"; }

code, pre {
  font-family: "Inconsolata"; }

pre {
  margin: 0;
  padding: 0.5em;
  border-radius: 3px;
  background: #231f20;
  color: white; }

:not(pre) > code[class*="language-"] {
  padding: 3px 4px;
  border-radius: 2px; }

a:link {
  color: #084080;
  text-decoration: none; }
  a:link:hover {
    color: #052850;
    text-decoration: underline; }
  a:link:visited {
    color: #021020; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul, ol {
  padding: 0 0 0 25px; }
  ul.no-style, ol.no-style {
    list-style: none;
    margin: 0;
    padding: 0; }

html, body {
  height: 100%; }

body, input, .pure-g-r [class*="pure-u"] {
  font-family: "Source Sans Pro";
  font-size: 18px;
  color: black; }

input {
  outline: none; }

input {
  background: rgba(255, 255, 255, 0.2);
  border: solid 2px white;
  color: white;
  padding: 0.2em 0.8em;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  input:hover {
    background: rgba(255, 255, 255, 0.3); }
  input:focus {
    background: rgba(255, 255, 255, 0.4); }

table thead {
  border-top: dotted 1px #cccccc;
  font-weight: bold; }
table tr {
  border-top: dotted 1px #cccccc; }
  table tr:last-child {
    border-bottom: dotted 1px #cccccc; }
table td {
  padding: 0.4em;
  border-left: dotted 1px #cccccc; }
  table td:last-child {
    border-right: dotted 1px #cccccc; }

blockquote {
  font-style: italic;
  font-size: 1.2em; }

.hidden {
  display: none; }

.clear {
  clear: both; }

#logo {
  display: block;
  width: 120px;
  margin-left: -10px; }

.pure-menu {
  position: fixed; }
  .pure-menu a:hover {
    text-decoration: none; }
  .pure-menu.pure-menu-open {
    width: auto;
    height: 100%;
    margin-right: 1em;
    border: none;
    border-right: solid 1px #cccccc;
    background: rgba(255, 255, 255, 0.8); }
  .pure-menu .sections {
    min-width: 160px; }
    .pure-menu .sections li a:hover {
      background: transparent; }
      .pure-menu .sections li a:hover:after {
        content: "\2192";
        float: right; }
    .pure-menu .sections li.active a, .pure-menu .sections li.active a:hover {
      background: #EEE; }
  .pure-menu small {
    display: block;
    padding: 20px;
    color: #777; }
  .pure-menu .pure-menu-heading h2 {
    margin: 5px 0; }
  .pure-menu .pure-menu-heading a {
    padding: 0;
    text-transform: none; }

.main-content section {
  display: none;
  margin-left: 200px; }
  .main-content section.active {
    display: block; }

.notes img {
  display: block; }

@media (max-width: 888px) {
  #logo {
    display: none; }

  .pure-menu {
    position: relative; }
    .pure-menu.pure-menu-open {
      width: 100%;
      margin-right: 0; }
    .pure-menu .sections li a:hover:after {
      content: "\2193"; }

  .main-content section {
    width: 100%;
    margin: 0;
    padding: 20px;
    border-top: dotted 1px #052850; } }
